body{
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

body, .header, ul{
    display: flex;
}

.header{
    justify-content: space-between;
}
.top,.footer{
    background: #1f2937;
    color: white
}

.quote{
    background: #e5e7eb;
}

.hero-text{
    color: #e5e7eb;
    font-size: 18x;
}
#hero-head{
    font-weight: 800;
    font-size: 48px;
    color: #f9faf8;
}

.footer{
    text-align: center;
    padding: 20px;
}

.chunk{
    flex: 1
}